@model Vikalp.Models.DTO.SubCentreDto
@{
    ViewData["Title"] = "Delete Facility";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h3>Delete Facility</h3>
<div class="alert alert-warning">
    Are you sure you want to delete the SubCentre: <strong>@Model.SubCentre</strong>?
</div>

<form asp-action="Delete" method="post">
    @Html.AntiForgeryToken()
    <input type="hidden" asp-for="SubCenterId" />

    <button type="submit" class="btn btn-danger">Yes, Delete</button>
    <a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>